.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 8px;
}

.blogTop {
  max-width: 980px;
}

.post {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 8px;

  box-sizing: border-box;
  padding: 15px;

  border-bottom: 1px solid var(--border);
}

.publishedAt {
  font-size: 13px;
}

.bookmark {
  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 10px;

  font-size: 2.5rem;
}

.bookmarked {
  color: orange;
}

.title {
  display: inline-block;
  padding: 3px 0;
  font-size: 2rem;
}

.tags {
  display: flex;
  gap: 5px;
}

.tag {
  padding: 3px 4px;
  border: 1px solid var(--border);
  border-radius: 8px;
}

.body {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;

  padding: 3px 0;

  font-size: 1.5rem;

  -webkit-line-clamp: 4;
}
