:root {
  --max-width: 1300px;
  --until-tablet-font-size: 56.25%;
  --from-desktop-font-size: 62.5%;
  --background: #f1ecea;
  --foreground: #3d3535;
  --border: #312f2f;
  --tag-hover: #898989bd;
  --forcus-border: #ffa200;
  --forcus-background: #ffa200a7;
}

[data-theme="dark"] {
  --background: #232323;
  --foreground: #eaeaea;
  --border: #eaeaea;
  --tag-hover: #6a6a6ac0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Mobile */
  @media (width <= 428px) {
    font-size: var(--until-tablet-font-size);
  }

  /* Tablet and Smaller Desktop */
  @media (width >= 428px) {
    font-size: var(--from-desktop-font-size);
  }
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  color: var(--foreground);
  background-color: var(--background);
}

// オートコンプリートによる背景色の変化対策
input:-webkit-autofill {
  transition: background-color 10000s ease-in-out 0s;
}

a {
  color: inherit;
  text-decoration: none;
}
