.wrapper {
  padding: 20px;
  text-align: center;
}

.copyright {
  font-size: 1.2rem;
  color: #8c8c8c;

  @media (width >= 428px) {
    font-size: 1.4rem;
  }

  @media screen and (width >= 768px) {
    font-size: 1.6rem;
  }
}
