ul {
  padding: 1rem 3rem;
}

li {
  margin: 0.7rem;
}

p {
  line-height: 1.6;
}

.youtube {
  text-align: center;
  width: 100%;
}

.youtube iframe {
  max-width: 600px;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}
