@keyframes open {
  from {
    opacity: 0;
  }
}

@keyframes close {
  to {
    opacity: 0;
  }
}

.menu {
  user-select: none;

  z-index: 100;

  box-sizing: border-box;
  min-width: 10rem;
  padding: 6px;

  font-family: sans-serif;
  font-size: 0.925rem;
  list-style: none;

  background-color: #fff;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 6px;
  box-shadow: 1px 1px 20px 1px rgb(0 0 0 / 10%);

  -webkit-font-smoothing: antialiased;
}

.menuOpening {
  composes: menu;
  animation: menuShow 0.15s ease-out;
}

.menuClosing {
  composes: menu;
  animation: menuHide 0.2s ease-out forwards;
}

.menuItem {
  cursor: pointer;
  padding: 0.375rem 0.625rem;
  border-radius: 6px;
}

.menuItemHover {
  composes: menuitem;
  color: #fff;
  background-color: #59a2ff;
}

.menuItemDisabled {
  composes: menuitem;
  cursor: default;
  color: #aaa;
}

.menu:focus,
.menuItem:focus {
  outline: none;
}

.submenuItem {
  position: relative;
}

.submenuItem::after {
  content: url("chevron-right-solid.svg");
  position: absolute;
  right: 0.625rem;
  width: 7px;
}

.menuDivider {
  height: 1px;
  margin: 0.5rem 0.625rem;
  background-color: rgb(0 0 0 / 12%);
}
