.trigger {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.menuItem {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
}

.label {
  margin-left: 5px;
  font-size: 1.4rem;
}

.icon {
  cursor: pointer;
  font-size: 20px;
}

.loading {
  background-color: orange;
}
